/Task1/nbproject/private/
/Task1/build/
/Task1/dist/
/OOP/Task1/nbproject/private/
/OOP/Task1/build/
/Vusial programming/Task2/nbproject/private/
/Vusial programming/Task2/build/
/Vusial programming/Task2/dist/
/Vusial programming/Task3/nbproject/private/
/Vusial programming/Task3/build/
/Vusial programming/Task4/nbproject/private/
/Vusial programming/Task4/build/
/Vusial programming/Task5/nbproject/private/
/Vusial programming/Task5/build/
/Vusial programming/Task5/dist/
/Vusial programming/Task6/target/
